body{
  background-color: #7b879d;
}

h1{
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  width: 200px;
  margin: 10px auto 10px auto;
}

p{
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  margin: 10px auto 20px auto;
  width: 80%;
  color: #8c8c8c;

}

.main-container{
  text-align: center;
  background-color: white;
  width:200px;
  border: 15px solid;
  border-color: white;
  margin: 100px auto 100px auto;
  border-radius: 12px;
}

.qr{
  width:200px;
  border-radius: 12px;
}
